// Specific CSS for your home-page

.main-title {
    font-family: $main-title-font;
    color: red;
}
.card-grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    grid-auto-rows: minmax(200px, auto);
    margin-bottom: 60px;;
}